.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-commerce-commercecheckoutsummaryblockheader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 20px;
  padding-left: 20px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #e6e6e6;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e6e6e6;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #e6e6e6;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #e6e6e6;
  background-color: #fff;
}

.w-commerce-commercecheckoutblockcontent {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e6e6e6;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #e6e6e6;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #e6e6e6;
  background-color: #fff;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.image-2 {
  margin-bottom: 5px;
  padding-bottom: 0px;
}

.link-block {
  display: block;
  margin: 5px;
  padding: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  text-align: center;
  text-decoration: none;
}

.div-block-23 {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-style: solid none;
  border-width: 1px;
  border-color: #ddd #000;
}

.grid-2 {
  width: 400px;
  grid-template-areas: "Area Area-2" "Area-4 Area-3";
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px none #000;
}

.heading-6-copy {
  width: 100%;
  margin-top: 10px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 45px;
  font-weight: 900;
  text-align: left;
}

.link {
  position: absolute;
  left: auto;
  top: 3%;
  right: 3%;
  bottom: auto;
  color: #000;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
}

.modal-wrapper {
  position: fixed;
  z-index: 99999999;
  display: none;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.42);
}

.text-block-14 {
  margin-top: 5px;
  padding-top: 0px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.close-modal-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
}

.modal-content {
  position: relative;
  z-index: 1;
  display: block;
  padding: 70px 50px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 8px;
  background-color: #fff;
}

.text-block-15 {
  margin-bottom: 10px;
  color: #000;
}

.nav-grid-2 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px 10px 2px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-bottom: 1px solid #ddd;
}

.button-22222-copy {
  display: block;
  width: 100%;
  margin-top: 0px;
  clear: both;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #3898ec;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.button-22222-copy:hover {
  text-decoration: none;
}

.nav-logo {
  width: auto;
  height: 100%;
  float: left;
  clear: right;
  text-align: center;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-logo-link-2 {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.button-2-copy-copy-copy {
  width: 100%;
  margin-top: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #3898ec;
  border-radius: 6px;
  background-color: #fff;
  color: #3898ec;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.button-2-copy-copy-copy:hover {
  text-decoration: none;
}

.sticky-nav-2 {
  position: static;
  top: 0px;
  z-index: 1;
  padding: 10px 20px;
  background-color: #fff;
}

.div-block-10-copy {
  height: 100px;
  padding-right: 10px;
  padding-left: 10px;
}

.image-6 {
  margin-right: 10px;
}

.paragraph-3 {
  text-align: left;
}

.div-block-10-co {
  height: 100px;
  padding-right: 10px;
  padding-left: 10px;
}

.heading-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  clear: left;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-family: Lato, sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.gallery-lightbox-copy {
  position: relative;
  overflow: hidden;
}

.bold-text-5 {
  font-weight: 900;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.button-2-c {
  display: none;
  width: 100%;
  margin-top: 30px;
  border-width: 1px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.button-2-c:hover {
  text-decoration: none;
}

.text-block-5 {
  font-weight: 700;
}

.gallery-grid-container {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  -ms-grid-row-align: center;
  align-self: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 20px auto;
  grid-template-rows: auto auto;
}

.div-block-25-copy {
  display: none;
}

.heading-14 {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #5bb85d;
  font-size: 19px;
}

.html-embed-2 {
  display: block;
  margin-top: 8px;
  margin-bottom: 5px;
}

.div-block-26 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-5 {
  border-radius: 6px;
}

.text-block-6 {
  font-weight: 700;
}

.column-10 {
  position: static;
  padding-right: 16px;
  padding-bottom: 10px;
  clear: both;
  text-align: left;
}

.text-block-21 {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #dddcdc;
  border-bottom: 1px solid #dddcdc;
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 16px;
}

.html-embed-2-copy-copy {
  display: none;
  margin-top: 8px;
  margin-bottom: 5px;
}

.text-block-23-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  font-family: Lato, sans-serif;
  color: #000;
  font-weight: 900;
}

.button-2-copy {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #3898ec;
  border-radius: 6px;
  background-color: #fff;
  color: #3898ec;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.button-2-copy:hover {
  text-decoration: none;
}

.columns-6 {
  width: 100%;
}

.div-block-22 {
  margin-left: 70px;
}

.column-13-copy {
  height: 100px;
}

.grid {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  clear: both;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-row-gap: 16px;
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 16px auto 16px auto 16px auto 16px auto 16px auto;
  grid-template-rows: auto auto auto auto auto auto;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 16px;
  line-height: 6px;
  text-align: center;
}

.text-block-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #777;
  font-weight: 400;
}

.columns-7 {
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.columns-5 {
  position: -webkit-sticky;
  position: sticky;
}

.text-block-23-copy-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-weight: 700;
}

.column-4 {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  z-index: auto;
  overflow: visible;
  margin-top: 82px;
  padding-top: 50px;
  padding-bottom: 50px;
  clear: right;
  border: 1px none #000;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 hsla(0, 0%, 60.7%, 0.69);
}

.heading-4-c {
  display: none;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  clear: left;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-family: Lato, sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.heading-9-copy {
  display: none;
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  font-weight: 900;
}

.button-22222-copyy {
  display: none;
  width: 100%;
  margin-top: 0px;
  clear: both;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #3898ec;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.button-22222-copyy:hover {
  color: #fff;
  text-decoration: none;
}

.column-13 {
  height: 100px;
}

.section {
  margin-top: 30px;
  border: 1px solid #000;
  background-color: #fcf8f5;
}

.gallery-thumbnail {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.div-block-10 {
  height: 100px;
  padding-right: 10px;
  padding-left: 10px;
}

.heading-9 {
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  font-weight: 900;
}

.div-block-10-c {
  height: 100px;
  padding-right: 10px;
  padding-left: 10px;
}

.div-block-17-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: center;
}

.gallery-lightbox {
  position: relative;
  overflow: hidden;
}

.heading-8 {
  font-size: 27px;
  text-align: left;
}

.columns-6-c {
  display: none;
  width: 100%;
}

.button-2-copy-copy-copy-2 {
  width: 100%;
  margin-top: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #3898ec;
  border-radius: 6px;
  background-color: #fff;
  color: #3898ec;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.button-2-copy-copy-copy-2:hover {
  text-decoration: none;
}

.text-block-11 {
  width: 100%;
  margin-left: 0px;
  padding-top: 10px;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.button-22222 {
  display: block;
  width: 100%;
  margin-top: 0px;
  clear: both;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #3898ec;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.button-22222:hover {
  color: #fff;
  text-decoration: none;
}

.div-block-11-copy {
  position: static;
  top: 40px;
  display: block;
  overflow: visible;
  height: 100%;
}

.bold-text-2 {
  padding-right: 2px;
}

.feature-section {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #fff;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-image-mask {
  width: 100%;
  margin-right: 40px;
}

.feature-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.feature-section-copy {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fff;
}

.div-block-7 {
  text-align: center;
}

.feature-image-mask-copy {
  width: 100%;
  margin-right: 40px;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.list-item-4 {
  margin-right: 8px;
  margin-left: 8px;
  padding-right: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.footer {
  display: block;
  width: 100%;
  max-width: 100%;
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  background-color: #000;
  text-align: center;
}

.list-item-6 {
  margin-right: 8px;
  margin-left: 8px;
  list-style-type: none;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: disc;
}

.text-block-13 {
  background-color: transparent;
  color: #fff;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block-14 {
  display: none;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-image {
  width: 60%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.div-block-20 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 999999999;
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.div-block-19 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding-top: 40px;
  text-align: center;
}

.container-3 {
  padding: 0px;
  border: 1px none #e6e6e6;
  background-color: #f5f5f5;
  text-align: center;
}

.image-3 {
  float: none;
}

.heading-13 {
  font-size: 14px;
}

.body {
  background-color: #f5f5f5;
}

.block-content-2 {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #fff;
  text-align: center;
}

.heading-12 {
  margin-top: 10px;
  font-size: 19px;
  font-weight: 400;
}

.div-block-27 {
  margin-top: 10px;
}

.div-block-28 {
  margin-top: 10px;
}

.block-header-4 {
  border-radius: 4px 4px 0px 0px;
  font-size: 34px;
}

.block-header-5 {
  border-top-left-radius: 4px;
  border-top-right-radius: 3px;
}

.text-block-25 {
  text-align: left;
}

.heading-1 {
  font-size: 34px;
  font-weight: 400;
}

.block-content-2-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #fff;
  color: #000;
  text-align: center;
}

.div-block-29 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f2f9e3;
}

.text-field {
  background-color: hsla(0, 0%, 100%, 0);
}

.form-block {
  margin-bottom: 0px;
}

.select-field {
  margin-bottom: 0px;
}

.text-block-26 {
  font-weight: 400;
  text-align: left;
}

.text-block-27 {
  text-align: left;
}

.columns-8 {
  margin-top: 8px;
}

.form {
  padding: 0px;
  background-color: #fff;
}

.select-field-copy {
  margin-bottom: 5px;
}

.block-content-2-copy-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #fff;
  color: #000;
  text-align: center;
}

.div-block-30 {
  padding: 10px;
  background-color: #f2f9e3;
}

.div-block-31 {
  margin: 5px;
  text-align: left;
}

.text-field-2 {
  border-radius: 4px;
}

.field-label {
  font-weight: 400;
}

.columns-9 {
  margin-top: 20px;
}

.heading-15 {
  color: #4bb543;
  text-align: center;
}

.heading-15-copy {
  color: #000;
  font-weight: 400;
  text-align: center;
}

.div-block-32 {
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
}

.div-block-33 {
  display: block;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

._1 {
  color: #000;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

.column-15 {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.button-22223 {
  border-radius: 6px;
}

@media screen and (max-width: 991px) {
  .div-block-10-copy {
    height: 50px;
  }
  .div-block-10-co {
    height: 50px;
  }
  .heading-4 {
    font-size: 15px;
  }
  .button-2-c {
    display: none;
  }
  .gallery-grid-container {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
  .div-block-25-copy {
    display: none;
  }
  .heading-14 {
    font-size: 14px;
  }
  .div-block-22 {
    margin-left: 0px;
  }
  .column-13-copy {
    height: 50px;
  }
  .grid {
    width: 100%;
  }
  .column-4 {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .heading-4-c {
    font-size: 15px;
  }
  .heading-9-copy {
    display: none;
  }
  .button-22222-copyy {
    display: none;
  }
  .column-13 {
    height: 50px;
  }
  .div-block-10 {
    height: 50px;
  }
  .heading-9 {
    font-size: 30px;
  }
  .div-block-10-c {
    height: 50px;
  }
  .button-2-copy-copy-copy-2 {
    margin-top: 0px;
  }
  .feature-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .feature-section-copy {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .modal-wrapper {
    display: none;
  }
  .nav-grid-2 {
    text-align: center;
  }
  .sticky-nav-2 {
    position: relative;
  }
  .div-block-10-copy {
    height: auto;
  }
  .paragraph-3 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .div-block-10-co {
    height: auto;
  }
  .heading-4 {
    width: 100%;
  }
  .button-2-c {
    display: none;
    border-style: solid;
    border-color: #3898ec;
    background-color: #fff;
    color: #3898ec;
  }
  .gallery-grid-container {
    max-width: none;
    grid-template-areas: ". Area";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
  .div-block-25-copy {
    display: none;
  }
  .column-10 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .div-block-22 {
    margin-right: 3%;
    margin-left: 3%;
    padding-bottom: 30px;
  }
  .column-13-copy {
    height: auto;
  }
  .column-4 {
    position: static;
    top: 0px;
    bottom: 0px;
    display: none;
    background-color: #fff;
  }
  .heading-4-c {
    display: block;
    width: 100%;
  }
  .heading-9-copy {
    display: block;
    margin-right: 0%;
    margin-left: 0%;
    font-size: 34px;
  }
  .button-22222-copyy {
    display: none;
  }
  .column-13 {
    height: auto;
  }
  .section {
    background-color: #fff;
  }
  .div-block-10 {
    height: auto;
  }
  .heading-9 {
    display: none;
    font-size: 34px;
  }
  .div-block-10-c {
    height: auto;
  }
  .div-block-17-copy {
    margin-top: 20px;
  }
  .heading-8 {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 25px;
  }
  .button-2-copy-copy-copy-2 {
    margin-top: 0px;
  }
  .text-block-11 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .div-block-11-copy {
    display: none;
  }
  .feature-section {
    display: none;
    padding: 40px 0px;
  }
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .feature-image-mask {
    margin-right: 0px;
  }
  .feature-image {
    display: none;
    margin-right: auto;
    margin-left: auto;
  }
  .heading-10 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .paragraph-4 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .feature-section-copy {
    display: none;
    padding: 40px 0px;
  }
  .heading-11 {
    display: none;
  }
  .feature-image-mask-copy {
    margin-right: 0px;
  }
  .footer {
    padding: 40px 20px;
  }
  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }
}

@media screen and (max-width: 479px) {
  .div-block-23 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .grid-2 {
    width: 200px;
  }
  .heading-6-copy {
    font-size: 37px;
  }
  .modal-wrapper {
    display: none;
  }
  .modal-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .text-block-15 {
    font-size: 12px;
  }
  .nav-grid-2 {
    margin-bottom: -5px;
    padding-bottom: 0px;
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
    border-bottom-style: none;
  }
  .button-22222-copy {
    margin-top: 15px;
  }
  .nav-logo-link-2 {
    border-top: 1px none #c4c4c4;
  }
  .list-item-2 {
    display: none;
  }
  .button-2-copy-copy-copy {
    margin-top: 15px;
  }
  .sticky-nav-2 {
    padding: 0px;
  }
  .div-block-10-copy {
    height: auto;
    padding-right: 0px;
    padding-left: 5px;
  }
  .paragraph-3 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .div-block-10-co {
    height: auto;
    padding: 5px 10px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .heading-4 {
    width: 100%;
  }
  .gallery-lightbox-copy {
    display: none;
  }
  .button-2-c {
    display: block;
    margin-top: 15px;
  }
  .gallery-grid-container {
    display: -ms-grid;
    display: grid;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -webkit-align-content: start;
    -ms-flex-line-pack: start;
    align-content: start;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .div-block-25-copy {
    display: block;
    padding: 3%;
    border-radius: 4px;
    background-color: #e6e6e6;
  }
  .image-5 {
    border-radius: 0px;
  }
  .text-block-6 {
    line-height: 20px;
  }
  .text-block-21 {
    margin-top: 15px;
  }
  .html-embed-2-copy-copy {
    display: block;
  }
  .text-block-23-copy {
    border-style: none;
  }
  .button-2-copy {
    margin-top: 15px;
  }
  .columns-6 {
    position: static;
    bottom: 0px;
    display: block;
    background-color: #fff;
  }
  .div-block-22 {
    margin-right: 4%;
    margin-left: 4%;
  }
  .column-13-copy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    padding-right: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .grid {
    width: 100%;
    margin-bottom: 8px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    grid-column-gap: 0px;
    -ms-grid-columns: 1.5fr 1fr 1.25fr;
    grid-template-columns: 1.5fr 1fr 1.25fr;
    font-size: 14px;
  }
  .columns-7 {
    width: 100%;
  }
  .column-4 {
    position: static;
    top: 0px;
    bottom: 0px;
    display: none;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-radius: 0px;
    background-color: #fff;
  }
  .heading-4-c {
    display: block;
    width: 100%;
    font-size: 18px;
  }
  .heading-9-copy {
    margin-right: 0%;
    margin-bottom: 5px;
    margin-left: 0%;
    padding-right: 0%;
    padding-left: 0%;
    font-size: 20px;
    line-height: 26px;
  }
  .column-14 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .button-22222-copyy {
    display: block;
    margin-top: 15px;
  }
  .column-13 {
    height: auto;
    padding-right: 0px;
  }
  .section {
    margin-top: 0px;
    background-color: #fff;
  }
  .gallery-thumbnail {
    display: block;
  }
  .div-block-10 {
    height: auto;
    padding-right: 5px;
    padding-left: 0px;
  }
  .heading-9 {
    display: none;
    padding-right: 2%;
    padding-left: 2%;
    font-size: 25px;
    line-height: 39px;
  }
  .text-block-22 {
    line-height: 6px;
  }
  .div-block-10-c {
    height: auto;
    padding: 5px 10px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .heading-8 {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 20px;
    line-height: 24px;
  }
  .columns-6-c {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    bottom: auto;
    z-index: 9999999;
    display: none;
    border-bottom: 1px solid #dddcdc;
    background-color: #fff;
  }
  .button-2-copy-copy-copy-2 {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    clear: both;
  }
  .text-block-11 {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 14px;
  }
  .button-22222 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .text-block-24 {
    margin-bottom: 5px;
    font-weight: 700;
  }
  .bold-text-2 {
    padding-right: 3px;
  }
  .feature-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
  }
  .feature-image-mask {
    display: block;
  }
  .feature-image {
    display: block;
    height: 70%;
  }
  .heading-10 {
    font-size: 23px;
    line-height: 30px;
  }
  .feature-section-copy {
    display: none;
    padding-top: 10px;
  }
  .heading-11 {
    margin-top: 10px;
    font-size: 18px;
  }
  .feature-image-mask-copy {
    display: none;
  }
  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .list-item-4 {
    list-style-type: none;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }
  .list-item-6 {
    list-style-type: none;
  }
  .list {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #fff;
  }
  .text-block-13 {
    font-size: 11px;
  }
  .footer-logo-link {
    height: 60px;
  }
  .footer-heading {
    display: none;
    margin-top: 20px;
  }
  .lottie-animation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .container-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .image-3 {
    display: none;
  }
  .heading-13 {
    font-size: 14px;
  }
  .block-content-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .heading-12 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
  }
  .block-header-3 {
    position: -webkit-sticky;
    position: sticky;
  }
  .heading-1 {
    font-size: 14px;
  }
  .block-content-2-copy {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .block-content-2-copy-copy {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .div-block-33 {
    margin-top: 40px;
  }
  ._1 {
    color: #000;
    font-size: 28px;
    font-weight: 400;
  }
}

#w-node-456fb7bf9a23-999d187c {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Area;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

.grid>#w-node-456fb7bf9a23-999d187c {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#w-node-456fb7bf9a27-999d187c {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  grid-area: Area-4;
}

#w-node-456fb7bf9a2b-999d187c {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  grid-area: Area-2;
}

#w-node-456fb7bf9a2f-999d187c {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  grid-area: Area-3;
}

@media screen and (max-width: 767px) {
  .gallery-grid-container>#w-node-456fb7bf9a23-999d187c {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
}

#w-node-17eca844b069-999d187c {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-62b570abd527-999d187c {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-c1d69fbb59f9-89bf443c {
  -ms-grid-column-align: start;
  justify-self: start;
}

@media screen and (max-width: 479px) {
  #w-node-17eca844b069-999d187c {
    -ms-grid-column-align: center;
    justify-self: center;
  }
  #w-node-c1d69fbb59f9-89bf443c {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

